<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="12">
        <ion-row>
          <ion-col size="6" size-lg="6" class="d-flex align-center justify-start ">
            <ion-text color="primary">
              <h2>Promociones</h2>
            </ion-text>
          </ion-col>
          <ion-col size="6" size-lg="6" class="d-flex align-center justify-end">
            <ion-label color="secondary">Ver todas</ion-label>
          </ion-col>
        </ion-row>
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slides">
            <div style="padding:10px">
              <img src="{{slide.img}}" alt="">
              <!--<h2 class="title-slide" [innerHTML]="slide.titulo"></h2>-->
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="12" >
        <ion-row>
          <ion-col size="6" size-lg="6" class="d-flex align-center justify-start ">
            <ion-text color="primary">
              <h2>Recomendados</h2>
            </ion-text>
          </ion-col>
          <ion-col size="6" size-lg="6" class="d-flex align-center justify-end">
            <ion-item [routerLink]="['/bares']">
              <ion-label  color="secondary">Ver todos</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="4" *ngFor="let bar of dataRandom">
        <ion-list>
          <ion-item [routerLink]="['/bar', bar.idBar]">
            <ion-col>
              <div >
                <ion-avatar  slot="start">
                  <img src="{{bar.Logo}}" fallimg>
                </ion-avatar>
              </div>
            </ion-col>
            <ion-col size="8">
              <div>
                <ion-label >
                  <h3 style="font-weight: bold;">{{bar.Nombre}}</h3>
                  <p>{{bar.Colonia + ', ' +bar.Calle + ', ' + bar.Numero}}</p>
                  
                </ion-label>
              
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-label >
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-label>
              </div>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
