
ion-avatar{
    display: flex;
    align-items: center;
}

img{
    max-height:450px;
}

.title-slide{
    color:#808289;
    font-size: 18px;
    font-style: italic;
    margin-bottom:25px;
}


.contenedor{
    display: flex;
    width: 100%;
    height:100%;
    border-bottom-left-radius: 10px;
}
.d-flex{
    display: flex; 
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end; 
}
.align-center{
    align-items: center; 
}
ion-slides{
    --bullet-background: grey;
    --bullet-background-active: #36abe0;
}

.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}


.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 25px; 
    padding:0px 7px;
    
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ffff00;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
    border: 2px solid var(--gs0);
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }
  
  
  .container .cont-scroll {
    scroll-snap-align: end;
    width:100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    //align-items: center;
    font-size: 4rem;
  }
  
  .container .cont-scroll:nth-child(1) {
    background: hotpink;
    color: white;
  }
  .container .cont-scroll:nth-child(2) {
    background: azure;
  }
  .container .cont-scroll:nth-child(3) {
    background: blanchedalmond;
  }
  .container div:nth-child(4) {
    background: lightcoral;
    color: white;
  }
  .container-list{
    display: flex;
    border: solid 1px #9d9fa6; 
    border-radius: 10px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-sizing: border-box;
    transition:.5s ease-out;
    height:90px;
  }
  .container-list:hover{
      cursor: pointer;
      border: solid 1px #efcb4b;
      transition:.3s ease-in;
  }
  .container-list:hover > .list-icon{
      color:#efcb4b;
      transition: .3s ease-in;
  }
  .w-100{
      width: 100%;
  }
  .w-20{
      width: 20%;
  }
  .list-logo{
    display:flex; 
    align-items: center; 
    justify-content:start;
  }
  .list-logo-img{
    overflow:hidden; 
    width: 80%; 
    height: 100%; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .list-logo-img img{
    width: 100%; 
    height: 100%;
  }
  .list-title{
    width: 70%; 
    display:flex; 
    align-items: center;
  }
  .list-icon{
    width: 10%; 
    display:flex; 
    align-items: center; 
    justify-content: center;
  }

@media screen and (max-height: 1020px){
    img{
        width:100%;
    }
    .p-1{
        padding-top: 2.2rem;
    }
}

@media screen and (max-height: 660px){
    img{
        width:80%;
    }
    
    .container-list{
        height: 60px;
    }
}