ion-list{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    border: 2px solid var(--gs0);
    border-radius: 8px;
    height: 100%;
  }
  
  ion-list  ion-item{
      scroll-snap-align: end;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
  }